body {
  background-color: #d3d3d3;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
.middle {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.container2 {
  max-width: 650px;
  margin: 0 auto;
  background: #c4c4c4;
  padding: 20px;
  border-radius: 8px;
}
h2 {
  font-size: 2rem;
  font-family: "Verdana";
  color: #7d889a;
  text-align: center;
  font-style: italic;
  word-spacing: 2px;
}
p {
  text-align: center;
  font-family: sans-serif;
  color: #080808;
  font-size: 1.3rem;
  text-shadow: 2px 2px 1px rgb(190, 184, 228);
  word-spacing: 3px;
  font-weight: bold;
}
.pictures {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
h3 {
  display: flex;
  justify-content: center;
  background: #a7a5a5;
  border-radius: 8px;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  text-shadow: 2px 2px 1px black;
  word-spacing: 1px;
  text-align: center;
}
button {
  background-color: #998896;
  border-radius: 12px;
  margin: 7px;
  width: 7rem;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
input {
  border: 2px;
  margin: auto;
  width: 50%;
}
.joy {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.coffee {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.happy {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.relaxed {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.upset {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.upsetB {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.thinking {
  width: 100%;
  height: auto;
  border-radius: 8px;
}